@charset "UTF-8";
/* Tema do cliente */

/**  cor: #FF0000;  **/
/**  cor-hover: #FF5555;  **/

/* Fonts */
@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/open-sans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

strong, b {
  font-weight: lighter;
  font-family: 'ABeeZee';
}

body {
  font-family: '';
}
/* up */

/* something */
.modal-open {
  overflow: auto!important;
  padding-right: 0!important;
}

.aceitar_termos {
  position: fixed;
  bottom: 0;
  padding: 20px 20px;
  text-align: center;
  color: #FFF;
  background-color: rgba(33,33,33, 0.9);
  width: 100%;
  z-index: 999999;
}

.aceitar_termos a {
  color: #FFFC9E;
}

.aceitar_termos a:hover {
  color: #38A7EB;
}

a.ctacookies {
  display: inline-block;
  padding: 3px 15px 3px 15px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background-color: #FF0000;
  color: #FFF;
  transition: all .2s linear;
  margin-left: 10px;
  cursor: pointer;
}

a.ctacookies:hover {
  filter: brightness(1.2);
}

.btnwhats {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 9999;
}

.btnwhats img {
  transition: all .2s linear;
}

.btnwhats:hover img {
  filter: brightness(1.2);
}

@media (max-width: 900px) {
  .btnwhats {
    right: auto;
    left: 50%;      
    transform: translate(-50%,0);
  }
}

@media (max-width: 1555px) {
  .footer2 {
    padding-bottom: 120px!important;
  }
}

.website {
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
}

.postagemcompleta a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  display: inline-block;
  position: relative;
  top: 7px;
}

/* novo css form */
.wpcf7-not-valid {
  background-color: #FFD2D2!important;
}

.wpcf7-form-control-wrap {
  display: block;
}

.wpcf7-response-output {
  color: #FFF!important;
  border: 0!important;
  margin-right: 0!important;
  margin-left: 0!important;
  text-align: center!important;
  font-weight: bold!important;
  padding: 10px 20px!important;
}

.wpcf7 form.sent .wpcf7-response-output {
  background-color: #46b450;
}

.wpcf7 form.failed .wpcf7-response-output,.wpcf7 form.aborted .wpcf7-response-output {
  background-color: #dc3232;
}

.wpcf7 form.spam .wpcf7-response-output {
  background-color: #f56e28;
}

.wpcf7 form.invalid .wpcf7-response-output,.wpcf7 form.unaccepted .wpcf7-response-output{
  background-color: #ffb900;
}

span.wpcf7-not-valid-tip{
  position: absolute;
  z-index: 1;
  right: 3px;
  font-size: 9px;
  top: 1px;
}
/* noovo css form */

form iframe {
  width: 304px!important;
  height: 78px!important;
}

.g-recaptcha {
  margin-bottom: 20px;    
  display: block;
}

@media (max-width: 400px) {
  .g-recaptcha {
    transform: scale(0.7);
    transform-origin: 0 0;
  }
}

@media (max-width: 991px) {
  form .row>div {
    width: 100%;
  }

  form {
    border: 0;
    padding: 0;
  }
}

@media (min-width: 1200px) { 
  .container {
    padding: 0px; 
  }
}


@media (max-width: 991px) {
  .fxsm {
    height: auto;
    min-height: 0;
    padding: 40px 0;
  }
}

@media (max-width: 480px) {
  .fxsm {
    padding: 30px 0;
  }
}

a {
  transition: all .2s linear;
}

.editor a {
  color: #FF0000!important;
}

.editor a:hover {
  text-decoration: underline!important;
}

a:link, a:visited { 
  color: inherit;
}

a:hover, a:active {
  color: #AA27AC;
}

::-moz-selection {
  background: #AA27AC;
}

::selection {
  background: #AA27AC;
}

.pagination .active a,.pagination .active a:hover {
  background-color: #FF0000;
  border-color: #FF0000;
}

.lds-ellipsis div {  
  background-color: #FF0000;
}

.editor, .editor p, .editor li {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

.editor p {
  margin-bottom: 20px;
}

/* start */
body {
  background-color: #EEEEEE;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}